/* Standardises all elements */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/** FAQ Accordion Styles **/
html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Kumbh Sans', Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: hsl(240, 6%, 50%);
}


h1 {
    font-size: 30px;
    font-weight: 700;
    color: hsl(238, 29%, 16%);
    text-transform: uppercase;
    margin: 0 0 37px;
}

.root {
    width: 100%;
    min-width: 375px;
    min-height: 100vh;
    overflow: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5rem 0 3rem;
    margin: 0 auto;
    background: hsl(273, 75%, 66%) linear-gradient(180deg, hsl(273, 75%, 66%) 0%, hsl(240, 73%, 65%) 100%);
}

main {
    width: 85%;
    max-width: 965px;
    position: relative;
    padding: 0 0 0 45px;

    &::before {
        content: "";
        position: absolute;
        top: 206px;
        left: -48px;
        background: url(../images/illustration-box-desktop.svg) no-repeat 0 0;
        width: 190px;
        height: 200px;
        z-index: 10;
        animation: bounce 0.5s;
        animation-direction: alternate;
        animation-timing-function: cubic-bezier(.5, 0.05, 1, .5);
        animation-iteration-count: infinite;
    }

}

@keyframes bounce {
    from {
        transform: translate3d(0, -10px, 0);
    }
    to {
        transform: translate3d(0, 10px, 0);
    }
}

@-webkit-keyframes bounce {
    from {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }
    to {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
    }
}

article {
    background: white url(../images/bg-pattern-desktop.svg) no-repeat -580px -294px;
    border-radius: 25px;
    display: flex;
    max-width: 920px;
    min-width: 300px;
    padding: 65px 95px 85px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    box-shadow: -10px 40px 37px -5px rgb(0 0 0 / 20%);


    &::before {
        content: "";
        background: url(../images/illustration-woman-online-desktop.svg) no-repeat 0 0;
        position: absolute;
        width: 472px;
        height: 360px;
        top: 70px;
        left: -86px;
    }

    .contentWrapper {
        width: 350px;
        margin-left: auto;
    }

    h2 {
        font-size: 14px;
        font-weight: 400;
        color: hsl(237, 12%, 33%);
        margin: 0;

        &:hover {
            color: hsl(14, 88%, 65%);
        }


        label {
            cursor: pointer;
            width: 100%;
            display: block;
            padding: 0 0 18px;

            &::after {
                content: "";
                background: url(../images/icon-arrow-down.svg) no-repeat right 0;
                width: 12px;
                height: 7px;
                margin: 6px 15px 0 0;
                float: right;
            }
        }
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        width: 100%;

        li {
            position: relative;
            border-top: 1px solid hsl(240, 5%, 91%);
            padding: 17px 0 0;
            margin: 0;
            overflow: hidden;

            &:first-child {
                padding: 0;
                border: none;
            }

            &:last-child {
                border-bottom: 1px solid hsl(240, 5%, 91%);
            }
        }

        input[type=checkbox] {
            height: 0;
            width: 0;
            visibility: hidden;
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    .answer {
        width: 95%;
        height: 0;
        line-height: 1.5em;
        margin: 0;
        transition: all 0.5s cubic-bezier(0, 1, 1, 1);
    }

    input:checked~.answer {
        height: auto;
        margin: 0 0 18px;
    }

    input:checked ~ h2 {
        font-weight: 700;
        

        label {
            padding: 0 0 10px;

            &::after {
                transform: scaleY(-1);
            }
        }
    }
}

/* Attribution */
footer {
    font-size: 11px;
    text-align: center;
    color: white;
    margin: 35px 0 0;

    a {
        color: white;
    }
}

@media screen and (min-height: 768px) and (min-width: 1440px) {
    .root {
        padding: 8.125rem 0 4rem;
    }
}

@media screen and (max-width: 1100px) {
    article {
        .contentWrapper {
            width: 300px;
        }

    }
}

@media screen and (max-width: 1050px) {
    article {
        .contentWrapper {
            width: 280px;
        }

        h2 {

            label {
                &::after {
                    margin: 6px 0 0 0;
                }
            }
            
        }

    }
}

@media screen and (max-width: 991px) {
    h1 {
        text-align: center;
        margin: 0 0 32px;
    }

    .root {
        padding: 3rem 0;
    }

    main {
        padding: 109px 0 0;

        &::before {
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            background: url(../images/illustration-woman-online-mobile.svg) no-repeat 0 0;
            width: 239px;
            height: 182px;
            z-index: 10;
            animation: none;
        }

        &::after {
            content: "";
            position: absolute;
            top: 107px;
            left: 50%;
            transform: translateX(-50%);
            background: url(../images/bg-pattern-mobile.svg) no-repeat 0 0;
            width: 239px;
            height: 182px;
            z-index: 8;
        }
    }

    article {
        padding: 130px 23.5px 48px;
        background-color: white;
        background-image: none;
        min-width: 327px;

        &::before {
            display: none;
        }

        h2 {
            font-size: 13px;

            &:hover {
                color: hsl(237, 12%, 33%);
            }

            label {
                &::after {
                    margin: 6px 0 0;
                }
            }
        }

        .contentWrapper {
            width: 100%;
            margin-left: 0;
        }

        input:active ~ h2 {
            color: hsl(14, 88%, 65%);
        }
    }
}
/*# sourceMappingURL=styles.css.map */